/* Header.css */

.admin-header {
  position: sticky;
  top: 0;
  width: 100%;
  color: var(--accent-color);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  z-index: 1000;
  border-radius: 30px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 60%;

  
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left .logo {
  height: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.header-icon {
  width: 24px;
  height: 24px;
  color: #4b5563; /* Gray-700 */
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-icon:hover {
  color: #1f2937; /* Gray-800 */
}
