/* ----------------------Header.css ---------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #eaeefe;
  color: #4a4a4a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.title-visiona {
  font-size: 24px;
  font-weight: bold;
  color: #7263f3;
}

.page-name {
  font-size: 20px;
  font-weight: 600;
  color: #555;
}

.nav-list {
  display: flex;
  gap: 20px; /* Space between nav items */
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  text-decoration: none; /* Remove underline from links */
  align-items: center;
}
.nav-list li {
  list-style: none;
}
.nav-item {
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: #7263f3;
  background-color: rgba(114, 99, 243, 0.1);
}
.nav-item.active {
  color: #7263f3;
  border-bottom: 2px solid #7263f3;
  font-weight: bold;
}

/*-------------------------------------------------------------------------------------*/
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --m-3syslightoutline: rgba(121, 116, 126, 1);
  --m-3syslightprimary: rgba(101, 85, 143, 1);
  --m3syslighton-primary: rgba(255, 255, 255, 1);
  --m3syslightsurface-tint: rgba(103, 80, 164, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
