/* LogoTicker.css */

.logo-ticker {
  padding: 32px 0;
  background-color: white;
}

@media (min-width: 768px) {
  .logo-ticker {
    padding: 48px 0;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-ticker-overflow {
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black, transparent);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black,
    transparent
  );
}

.logo-ticker-animation {
  display: flex;
  gap: 56px; /* equivalent to gap-14 in Tailwind */
  padding-right: 56px; /* equivalent to pr-14 in Tailwind */
  flex: none;
  animation: ticker 20s linear infinite;
}

.logo-ticker-image {
  height: auto;
  width: auto;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
