:root {
  --blue: #183ec2; /* Main blue color */
  --light-blue: #eaeefe; /* Light blue for gradient */
  --yellow: #f8d49a; /* You can keep or modify as needed */
  --orange: #fca61f; /* You can keep or modify as needed */
  --black: #242d49; /* You can keep or modify as needed */
  --gray: #788097; /* You can keep or modify as needed */
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d; /* You can keep or modify as needed */
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354; /* You can keep or modify as needed */
}

.App {
  color: var(--black);
  background: radial-gradient(
    ellipse 200% 100% at bottom left,
    var(--blue),
    var(--light-blue) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px; /* Add gap between grid items */
  overflow: hidden;
  transition: grid-template-columns 0.3s ease-in-out; /* Smooth transition */
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% auto; /* 2 columns for smaller screens */
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr; /* Single column for mobile */
    gap: 8px; /* Reduce gap for smaller screens */
  }
}
